/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color--: #00bcd4;
    --second-color : #0f748fb0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}

/* Mobile */
@media (max-width: 767px) {
    .container {
        max-width: 750px;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */ 

/* Start Special Component */
.special-comp {
    font-size: 50px;
    margin: 20px auto 50px;
    padding-top: 100px;
    font-weight: 400;
    text-transform: capitalize;
    color: black;
    position: relative;
    text-align: center;
}

.special-comp::before {
    content: '';
    background-color: black;
    width: 139px;
    height: 3px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.special-comp::after {
    content: '';
    background-color: white;
    width: 20px;
    height: 20px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

@media mopile, (max-width: 767px) {
    .special-comp {
        font-size: 45px;
        margin: 0 auto 20px;
        padding-top: 50px;
    }

    .special-comp::before {
        width: 140px;
        height: 1px;
        position: absolute;
        bottom: -4px;
    }

    .special-comp::after {
        display: none;
    }
}

.special-comp + p {
    color: #7e7e7e;
    font-size: 18px;
    margin: 0 auto 100px;
    max-width: 600px;
    text-align: center;
}

@media mopile, (max-width: 767px) {
    .special-comp + p {
        font-size: 12px;
        width: 300px;
        margin-bottom: 35px;
    }
}
/* End Special Component */

/* Start Head Section */

.head {
    height: 100vh;
    position: relative;
}

.head::before {
    content: '';
    background-image: url(../Images/landing.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
}

.head::after {
    content: '';
    background-color: rgb(0 0 0 / 63%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    width: 80%;
    margin: 0 auto;
}


@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}


.head .container .header {
    background-color: #0000008a;
    position: fixed;
    width: 80%;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 1000000;
}

@media (max-width: 767px) {
    .head .container .header {
        width: 100%;
        position: unset;
    }
}

.head .header .logo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .head .header .logo {
        width: 60%;
        margin-top: 10px;
        order: 0;
    }
}

@media (max-width: 1000px) {
    .head .header .logo {
        margin-left: 15px;
        transition: .2s;
    }
}

.head .header .logo img {
    width: 115px;
    height: 40px;
}

.head .header .links {
    width: 75%;
}

@media (max-width: 767px) {
    .head .header .links {
        width: 100%;
        order: 2;
    }
}


.head .header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 767px) {
    .head .header .links ul {
        justify-content: center;
    }
}

.head .header .links ul li a {
    text-decoration: none;
    color: white;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: .3s;
}

@media (max-width: 767px) {
    .head .header .links ul li a{
        padding-left: 4.5px;
        padding-right: 4.5px;
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 12px ;
    }
}

.head .header .links ul li a:hover {
    color: var(--main-color--);
    border-bottom: 1px solid var(--main-color--);
}

.head .header i {
    width: 5%;
    color: white;
    margin-top: 25px;
    padding-top: 7px;
    margin-bottom: 21px;
    padding-bottom: 7px;
    padding-right: 22px;
    padding-left: 14px;
    font-size: 16px;
    border-left: 2px solid white;
}

@media (max-width: 767px) {
    .head .header i {    
        width: fit-content;
        order: 1;
        margin-left: 0;
        padding-left: 11px;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-right: 30px;
        font-size: 20px;
    }
}
.head .header hr {
    width: 100%;
    margin: 0 auto;
    border:0;
    height: 1px;
    background-color: #9e9e9e82;
    position: absolute;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

@media (max-width: 767px) {
    .head .header hr {
        width: 100%;
        top: 96px;
    }
}

.head .container .hello {
    background-color: var(--second-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    min-width: 250px;
    max-width: 750px;
    padding-left: 120px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 30px;
}

@media (max-width: 767px) {
    .head .container .hello {
        background-color: transparent;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
    }
}

.head .container::before {
    content: '';
    background-color: transparent;
    width: 10px;
    height: 10px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: 120;
}

.head .container::after {
    content: '';
    background-color: transparent;
    width: 10px;
    height: 10px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.head .container .hello h3 {
    font-weight: 400;
    font-size: 32px;
    color: white;
    line-height: 1.3;
}

.head .container .hello h3 span {
    display: block;
}

.head .container .hello p {
    color: white;
    font-size: 15px;
    line-height: 1.85;
    letter-spacing: 0.25px;
}

@media (max-width: 767px) {

    .head .container .hello h3 {
        font-size: 25px;
    }

    .head .container .hello p {
        color: white;
        font-size: 11px;
        line-height: 1.85;
        letter-spacing: 0.25px;
    }
}

.head .container .loading {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.head .container .loading .cir {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 10px;
}

.head .container .loading .two {
    background-color: var(--main-color--);
    border: none;
}
/* End Head Section */

/* Start Services 01*/
.services .container .serv-cols {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    justify-content: center;
    align-content: center;
}

.serv.one {
    grid-area: 1 / 1 / 2 / 2;
}

.serv.two {
    grid-area: 1 / 2 / 2 / 3;
}

.serv.three {
    grid-area: 2 / 1 / 3 / 2;
}

.serv.four {
    grid-area: 2 / 2 / 3 / 3;
}

.services .container .serv-cols .serv {
    display: flex;
    flex-flow: row wrap;
}

.serv i {
    font-size: 42px;
    color: black;
    display: flex;
    align-items: flex-start;
    order: 0;
}

.serv h3 {
    font-size: 22px;
    color: #00c7fc;
    margin: 0;
    padding-left: 35px;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    order: 1;
}

.serv p {
    font-size: 16px;
    color: rgb(126, 126, 126);
    margin: 0;
    margin-top: -60px;
    padding-left: 85px;
    display: flex;
    align-items: flex-start;
    line-height: 1.8;
    order: 2;
}

@media mopile, (max-width: 1000px) {
    .services .container .serv-cols {
        display: flex;
        flex-flow: row wrap;
    }

    .serv-cols .serv {
        width: 100%;
        flex-flow: column nowrap;
        margin-top: 20px;
    }

    .serv i, .serv h3, .serv p {
        width: 100%;
        padding: 10px;
        justify-content: center;
    }

    .serv p {
        margin: 0;
        text-align: center;
    }
}
/* End Services 01*/

/* Start Services 02 */
.services-2 {
    background-image: url(../Images/design-features.jpg);
    background-size: cover;
    height: 80vh;
    position: relative;
    z-index: -1;
}

.services-2::after {
    content: '';
    background-color: rgb(0 0 0 / 63%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.services-2 .servs {
    padding: 0 300px 40px 0;
    margin: 0;
    list-style: none;
    max-width: 700px;
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0f748fb0;
    z-index: 2;
}

@media Mopile, (max-width: 767px) {
    .services-2 .servs {
        width: 100%;
        padding-right: 0; 
    }
}

.services-2 .servs p {
    font-size: 30px;
    padding: 40px 0 0 70px;
}


@media Mopile, (max-width: 767px) {
    .services-2 .servs p {
        padding-left: 10px;
        font-size: 25px; 
    }
}

.services-2 .servs li {
    font-size: 18px;
    padding: 0 0 20px 110px;
}

@media Mopile, (max-width: 767px) {
    .services-2 .servs li {
        padding-left: 30px;
        font-size: 16px; 
    }
}

.services-2 .servs li i {
    padding-right: 30px;
}


@media Mopile, (max-width: 767px) {
    .services-2 .servs li i {
        padding-right: 10px;
        font-size: 16px; 
    }
}


.services-2 .image {
    width: 338px;
    height: 362px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 15%;
    overflow: hidden;
}

@media Mopile, (max-width: 1000px) {
    .services-2 .image {
        display: none;
    }
}
/* End Services 02 */

/* Start Portfolio */
.portfolio .container .contents {
    width: 100%;
    margin: -30px auto 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.portfolio .container .contents div {
    color: black;
    padding: 15px;
    align-items: center;
    transition: .1s;
}

.portfolio .container .contents div:hover {
    color: white;
    background-color: var(--main-color--);
}

.portfolio .projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3px 0;
}

.portfolio .projects .prj {
    position: relative;
    overflow: hidden;
}

.portfolio .projects .prj img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.portfolio .projects .prj .text {
    background-color: #fff;
    width: 100%;
    position: absolute;
    bottom: -90px;
    left: 0;
    transition: .3s;
    z-index: 0;
}

.portfolio .projects .prj .text h3 {
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
    margin: 0;
}

.portfolio .projects .prj .text p {
    color: var(--main-color--);
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.portfolio .projects .prj img:hover {
    transform: rotate(3deg) scale(1.05);
}


.portfolio .projects .prj img:hover + .text {
    transform: translateY(-90px);
}

.portfolio .more {
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    padding: 15px;
    color: black;
    font-size: 25px;
    font-weight: 600;
    transition: .15s;
    margin-bottom: 100px;
}

.portfolio .more:hover {
    background-color: var(--main-color--);
    color: white;
}

.portfolio .video {
    width: 100%;
    position: relative;
}

.portfolio .video video {
    width: 100%;
}

.portfolio .video .text {
    background-color: #0f748fb0;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.portfolio .video .text h3 {
    font-weight: 400;
    font-size: 25px;
}

.portfolio .video .text button {
    background-color: black;
    color: white;
    outline: none;
    padding: 10px;
    border: none;
}

@media Mopile, (max-width: 767px) {
    .portfolio .video .text {
        background-color: transparent;
    }
}
/* End Portfolio */